.my-container-nav{
    height: 60px;
}

.my-container-main{
    height: calc(100vh - 60px);

    display: flex;
}

aside{
    width: 150px;

    background-color: blue;
}

main{
    width: calc(100% - 150px);

    background-color: blueviolet;
}

.my-nav-search-bar{
    width: 76%;
}

.my-nav-search-bar textarea{
    background-color: #F5F5F5;
}

.my-search-bar{
    position: relative;
}

.my-search-bar i{
    position: absolute;
    top: 10px;
    left: 10px;
}

.my-nav-functions{
    width: 12%;
}

.my-nav-functions div:last-child{
    color: #FF8F00;
}

/* test */
.my-main-top{
    height: 90px;

    border: 1px solid black;
}

.my-main-top-left{
    width: 40%;
}

.my-main-top-center{
    width: 30%;
}

.my-main-top-right{
    width: 30%;
}
/* /test */

.my-breadcrumb{
    font-size: 12px;
}

.my-container-img-table{
    width: 25px;
}

.my-table{
    font-size: 12px;
}
/* media query */

@media screen and (max-width: 992px){

    aside{
        width: 45px;
    }

}
